@import "tailwindcss";
@theme {
  --color-primaryDark: #388e3c; /* Dark Green */
  --color-helper: #66bb6a;      /* Light Green */
  --color-background: #e8f5e9;  /* Very Light Green */
  --color-primaryLight: #81c784; /* Medium Green */
  --color-gradient: linear-gradient(90deg, rgba(56, 142, 60, 0.8) 0%, rgba(103, 158, 78, 0.8) 100%);
}
@layer base {
  html {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
    line-height: 1.6;
  }
  body {
    background-color: var(--color-background);
  }
  ol,
  ul,
  li,
  button,
  input,
  textarea,
  select,
  optgroup,
  option {
  }
}
@layer components {
  .selectItem {
    @apply text-base text-[var(--color-primaryDark)] py-3 focus:bg-[var(--color-primaryLight)] cursor-pointer focus:text-[var(--color-background)] focus:outline-none pl-2;
    font-weight: 500;
  }
  .primaryParagraph {
    @apply text-slate-700 text-base;
    line-height: 1.6;
  }
  .primaryHeading {
    @apply text-[var(--color-primaryDark)] sm:text-3xl md:text-4xl text-2xl;
    font-weight: 700;
    line-height: 1.3;
  }
  .secondaryHeading {
    @apply text-xl font-semibold text-[var(--color-primaryDark)];
  }
  .subHeading {
    @apply text-xl text-[var(--color-primaryDark)] font-semibold my-3 mb-3 capitalize relative;
  }
  .subHeading::before {
    content: "";
    @apply absolute top-[110%] left-0 w-3 h-3 rounded-full;
    background: var(--color-helper);
  }
  .subHeading::after {
    content: "";
    @apply absolute top-[calc(110%+0.375rem)] left-3 w-[80px] h-1;
    background: var(--color-helper);
  }
  .primaryButton {
    transition: all 0.3s ease;
    font-weight: 500;
  }
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexEvenly{
    @apply justify-around items-center
  }
  .container {
    @apply max-w-[90vw] mx-auto;
  }
  .errorMessage {
    @apply text-base text-red-500;
  }
  .successMessage {
    @apply text-base text-green-600;
  }
  .formItem input[type="text"] {
    @apply outline-none rounded-md p-3 border w-full;
  }
  .formItem {
    @apply w-full p-3  focus:outline-none text-[var(--color-primaryDark)] ;
  }
  .selectInput {
    @apply w-full bg-white p-3 text-[var(--color-primaryDark)] rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[var(--color-primaryDark)];
  }
  .formLabel {
    @apply text-[var(--color-primaryDark)] font-medium mb-1 block;
  }
  .fullScreen {
    @apply w-screen h-screen;
  }
}